.sonic{
    max-width: 300px;
    width: 100%;
    top: -500px;
    z-index: 1;
    position: absolute;
    animation: slideInTopMobile 2s 1s forwards;
}

@media screen and (min-width: 768px) {
    .sonic{
        width: auto;
        max-width: 768px;
        top: auto;
        opacity: 0;
        animation: slideInTop 3s 1s forwards;
    }
}

@keyframes slideInTop {
    0%{
        opacity: 0;
    }

    50%{
        opacity: 1;
        width: 640px;
    }
    75%{
        width: 100%;
    }
    100%{
        width: 640px;
        opacity: 1;
    }
}

@keyframes slideInTopMobile {
    0%{
        top: -400px;
    }

    50%{
        top: 100px;
        max-width: 300px;
    }
    75%{
        max-width: 400px;
    }
    100%{
        max-width: 300px;
        top: 100px;
    }
}